[submodule "fakechroot"]
	path = fakechroot
	url = git@github.com:pelya/fakechroot.git
[submodule "android-shmem"]
	path = android-shmem
	url = git@github.com:pelya/android-shmem.git
[submodule "proot-src"]
	path = proot-src
	url = git@github.com:cedric-vincent/PRoot.git
