[submodule "fakechroot"]
	path = fakechroot
	url = git://github.com/pelya/fakechroot.git
[submodule "sdl"]
	path = sdl
	url = git://github.com/pelya/commandergenius.git
[submodule "xserver"]
	path = xserver
	url = git://github.com/pelya/xserver-xsdl.git
