*~
*.1
*.8
*.gz
*.la
*.lo
*.o
.autotools
.cproject
.deps
.libs
.pc
.project
.proverc
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-tree-*
config.*.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
scripts/*.env
scripts/*.fakechroot
scripts/fakechroot
stamp-h*
test/*.debs.tgz
test/*.rpms.tgz
test/rinse-cache
test/src/test-*
!test/src/test-*.c
test/testtree
compile
test-driver
ares_config.h
libcares.pc
