[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Inkscape
Comment=
Exec=/usr/bin/inkscape
StartupNotify=false
Terminal=false
Hidden=false

