#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=PackageManager;System;
Comment[en_US]=Install, remove and upgrade software packages
Comment=Install, remove and upgrade software packages
Comment[ar]=ثبّت، أزل وحدّث حزم البرامج
Comment[be@latin]=Instaluj, vydalaj i aktualizuj prahramnyja pakunki
Comment[be]=Усталёўвае, выдаляе і абнаўляе пакеты
Comment[bg]=Инсталиране, премахване и актуализиране на софтуерни пакети
Comment[br]=Staliañ, dilemel hag hizivaat meziantoù
Comment[ca]=Instal·la, elimina i actualitza paquets de programari
Comment[cs]=Nainstalovat, odstranit a aktualizovat balíky
Comment[da]=Installér, fjern og opgradér softwarepakker
Comment[de]=Software-Pakete installieren, entfernen und aktualisieren
Comment[el]=Εγκατάσταση, απομάκρυνση και αναβάθμιση πακέτων λογισμικού
Comment[es]=Instalar, eliminar y actualizar los paquetes de software
Comment[eu]=Instalatu, kendu eta bertsio-berritu software-paketeak
Comment[fi]=Asenna, poista ja päivitä ohjelmistopaketteja
Comment[fr]=Installer, désinstaller et mettre à jour les paquets de logiciels
Comment[gl]=Instalar, eliminar e actualizar os paquetes de software
Comment[he]=התקנה, הסרה ושדרוג חבילות תכנה.
Comment[hi]=सॉफ्टवेयर पैकेजों की स्थापना, अद्यतन करें या उन्हें हटाएं.
Comment[hu]=Csomagokat telepít, töröl és frissít
Comment[it]=Installa, rimuove e aggiorna i pacchetti software
Comment[ja]=ソフトウェアパッケージのインストール、削除またはアップグレード
Comment[ko]=소프트웨어 패키지를 설치, 지우기, 업그레이드
Comment[lt]=Įdiekite, šalinkite ir atnaujinkite programų paketus
Comment[mk]=Инсталирајте, отстранете или надградете софтверски пакети
Comment[nl]=Softwarepakketten installeren, verwijderen of bijwerken
Comment[no]=Installer, fjern eller oppgrader programvare pakker
Comment[pl]=Instalacja, usuwanie i aktualizacja pakietów z oprogramowaniem
Comment[pt]=Instalar, remover e actualizar pacotes
Comment[pt_BR]=Instalar, remover e atualizar pacotes de software
Comment[ro]=Instalează, dezinstalează şi actualizează pachete software
Comment[ru]=Установить, удалить и обновить пакеты
Comment[sk]=Inštalovať, odstrániť alebo aktualizovať softvérové balíky
Comment[sl]=Namestitev, odstranjevanje in nadgradnja programskih paketov
Comment[sr@Latn]=Instaliraj, ukloni i nadogradi softverske pakete
Comment[sr]=Инсталирај, уклони и надогради софтверске пакете
Comment[sv]=Installera, ta bort och uppgradera programvarupaket
Comment[th]=ติดตั้ง ถอดถอน และปรับรุ่นแพกเกจซอฟต์แวร์
Comment[tr]=Paketleri kur, kaldır ya da yükselt
Comment[xh]=Faka, susa uze uphucule imiqulu yesoftware
Comment[zh_CN]=安装，删除和升级软件包
Comment[zh_TW]=安裝、移除及升級套件
Exec=synaptic
GenericName[en_US]=Package Manager
GenericName=Package Manager
GenericName[ar]=مدير الحزم
GenericName[be@latin]=Kiraŭnik pakunkaŭ
GenericName[be]=Кіраўнік пакетамі
GenericName[bg]=Мениджър на пакети
GenericName[br]=Merour pakadoù
GenericName[ca]=Gestor de paquets
GenericName[cs]=Správce balíků
GenericName[da]=Pakkehåndteringsprogram
GenericName[de]=Paketverwaltung
GenericName[el]=Διαχείριση πακέτων
GenericName[es]=Gestor de paquetes
GenericName[eu]=Pakete-kudeatzailea
GenericName[fi]=Pakettienhallinta
GenericName[fr]=Gestionnaire de paquets
GenericName[gl]=Xestor de paquetes
GenericName[he]=מנהל חבילות
GenericName[hi]=पैकेज प्रबन्धक
GenericName[hu]=Csomagkezelő
GenericName[it]=Gestore pacchetti
GenericName[ja]=パッケージマネージャ
GenericName[ko]=패키지 관리자
GenericName[lt]=Paketų tvarkyklė
GenericName[mk]=Менаџер за пакети
GenericName[nl]=Pakketbeheer
GenericName[pl]=Menedżer pakietów
GenericName[pt]=Gestor de Pacotes
GenericName[pt_BR]=Gerenciador de Pacotes
GenericName[ro]=Administrator de pachete
GenericName[ru]=Менеджер пакетов
GenericName[sk]=Správca balíkov
GenericName[sl]=Upravitelj paketov
GenericName[sr@Latn]=Upravnik paketa
GenericName[sr]=Управник пакета
GenericName[sv]=Pakethanterare
GenericName[th]=เครื่องมือจัดการแพกเกจ
GenericName[tr]=Paket Yöneticisi
GenericName[xh]=UMlawuli woMqulu
GenericName[zh_CN]=软件包管理器
GenericName[zh_TW]=套件管理程式
Icon=synaptic
MimeType=
Name[en_US]=Synaptic Package Manager
Name=Synaptic Package Manager
Name[ar]=مدير الحزم Synaptic
Name[be@latin]=Kiraŭnik pakunkaŭ Synaptic
Name[be]=Кіраўнік пакетаў Synaptic
Name[bg]=Мениджър на пакети (Synaptic)
Name[br]=Merour pakadoù Synaptic
Name[ca]=Gestor de paquets Synaptic
Name[cs]=Správce balíků Synaptic
Name[da]=Synaptic - pakkehåndtering
Name[de]=Synaptic-Paketverwaltung
Name[el]=Synaptic Package Manager
Name[es]=Gestor de Paquetes Synaptic
Name[eu]=Synaptic pakete-kudeatzailea
Name[fi]=Synaptic-pakettienhallinta
Name[fr]=Gestionnaire de paquets Synaptic
Name[gl]=Xestor de paquetes Synaptic
Name[he]=מנהל החבילות Synaptic
Name[hi]=सिनेप्टिक पैकेज प्रबन्धक
Name[hu]=Synaptic csomagkezelő
Name[it]=Gestore pacchetti
Name[ja]=Synaptic パッケージマネージャ
Name[ko]=시냅틱 패키지 관리자
Name[lt]=Paketų tvarkyklė Synaptic
Name[mk]=Менаџер за пакети - Синаптик
Name[nl]=Synaptic pakketbeheer
Name[no]=Synaptic Pakkeadministrasjon
Name[pl]=Synaptic Menedżer Pakietów
Name[pt]=Gestor de Pacotes Synaptic
Name[pt_BR]=Gerenciador de Pacotes Synaptic
Name[ro]=Administratorul de pachete Synaptic
Name[ru]=Программа управления пакетами Synaptic
Name[sk]=Správca balíkov Synaptic
Name[sl]=Upravljalnik paketov Synaptic
Name[sr@Latn]=Upravnik paketa „Synaptic“
Name[sr]=Управник пакета „Synaptic“
Name[sv]=Pakethanteraren Synaptic
Name[th]=เครื่องมือจัดการแพกเกจ Synaptic
Name[tr]=Synaptic Paket Yöneticisi
Name[xh]=UMlawuli woMqulu we-Synaptic
Name[zh_CN]=新立得软件包管理器
Name[zh_TW]=Synaptic 套件管理程式
OnlyShowIn=KDE;
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=true
X-KDE-Username=
